/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background-color: #f4f4f4;
  color: black;
  margin: 0;
}

/* Navbar Styles */
header {
  background-color: #333;
  width: 100%;
  padding: 5px 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* Aligns logo to the left and nav links to the right */
  align-items: center;
  /* Vertically centers both logo and nav links */
  width: 100%;
}

.logo img {
  width: 120px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  /* Horizontal layout for nav links */
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.nav-links li a:after {
  content: '';
  width: 0%;
  height: 3px;
  background: #FF4500;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-links li a:hover::after {
  width: 90%;
}

/* Hero Section Styles */
.hero-section {

  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #ff6347;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ff4500;
}


/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

}

.card {
  height: 170px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  text-align: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.card p {
  font-size: 1em;
  color: #555;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  position: relative;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .logo img {
    margin: 0;
    width: 120px;
    height: auto;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

  }

  .navbar li {
    margin: 0px 5px;
  }

  /* Hero Section Styles */
  .hero-section {
    padding: 20px;
    height: auto;
    /* Adjust the height for better fit on smaller screens */
  }

  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .btn {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  /* Features Section Styles (if applicable) */
  .features {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    /* Reduce width for mobile */
    margin: 10px 0;
  }

  /* Footer Styles */
  footer {
    padding: 20px;
    font-size: 0.8rem;
    /* Reduce footer text size */
  }
}


@media (min-width: 769px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo img {
    margin-left: 20px;
    width: 150px;
  }

  .navbar {
    flex-direction: row;
    margin-right: 20px;
  }
}